:root {
  /* Цвета */
  --color-primary: #32312f;
  --color-accent: #ff5c00;
  --color-accent-hover: #e65300;
  --color-caption: #656565;
  --color-bg: #f6f6f6;
  --color-bg-hover: #e6e6e6;
  --color-border: #e6e6e6;
  --color-icon-default: #a1a5ad;
  --overlay-light: rgba(255, 255, 255, 0.5);
  --overlay-light-hover: rgba(255, 255, 255, 0.8);
  --overlay-dark: rgba(0, 0, 0, 0.5);

  /* Размеры и отступы */
  --spacing-xs: 0.3125rem;
  --spacing-sm: 0.4375rem;
  --spacing-md: 0.875rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 2rem;
  --spacing-vertical-item: 0.375rem;
  --spacing-horizontal-item: 0.75rem;

  /* Радиусы */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.875rem;
  --border-radius-lg: 1.125rem;

  /* Размеры шрифта */
  --font-size-xs: 0.75rem;
  --font-size-base: 0.875rem;
  --font-size-lg: 1.375rem;
  --font-size-button: 0.9375rem;

  /* Высоты */
  --slider-height: 21.1875rem;
  --slider-height-mb: 14rem;

  /* Transition */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
}
